body {
     font-family: "Roboto", sans-serif;
     text-align: center;
     background: #f6b8b8;
     padding: 50px;
     color: #4169e1;
}
.title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}
h1 {
    animation: 3s ease-in-out infinite;
}
/* BALLOON SIZE */
.balloon {
    width: 50px;
}
/* FLOATING ANIMATION */
@keyframes floatBalloon {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}
.left-balloon {
    animation: floatBalloon 3s ease-in-out infinite;
}
.right-balloon {
    animation: floatBalloon 3s ease-in-out infinite;
    animation-delay: 1.5s;
}
.envelope {
    width: 200px;
    margin: 50px;
    fill: #7ba376;
    animation: float 3s ease-in-out infinite;
}
/* CSS TRANSITION */
button {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    background: #2e7d32;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
}
button:hover {
    background: #1b5e20;
    transform: scale(1.1);
}
img {
    width: 200px;
    margin-top: 30px;
}